body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: #ffffff;
    font-size: 14px;
}

.container {
    width: 100%;
    margin: 0 auto;
}
@media (max-width: 768px) {
    .desktop-menu {
        display: none;
    }

    .navbar-burger {
        display: block;
    }

    .mobile-menu.show {
        display: flex;
    }
}

.navbar-name {
    font-weight: 600;
}

.navbar-logo {
    width: 180px;
    height: auto;
}

.menu-section {
    display: flex;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(8px);
    padding: 15px 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    padding-bottom: 2px;
}

.navbar-left,
.navbar-center,
.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-center {
    display: flex;
    gap: 25px;
}

.navbar-center a {
    color: #ffffff;
    font-weight: 600;
    text-decoration: none;
    padding: 5px 10px;
    transition: transform 0.3s ease, background 0.3s ease;
}

.navbar-center a:hover {
    background-color: #1a73e8;
    color: #ffffff;
    border-radius: 6px;
    transform: scale(1.05);
}

.navbar-center .active {
    background-color: #1a73e8;
    border-radius: 6px;
    transform: scale(1.05);
  }

.navbar-burger {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
}

.navbar-avatar {
    width: 52px;
    height: 32px;
    border-radius: 50%;
}

.mobile-menu {
    display: none;
    flex-direction: column;
    background-color: #091114;
    backdrop-filter: blur(8px);
    padding: 10px 0;
    position: absolute;
    top: 80px;
    width: 100%;
    z-index: 1000;
}

.mobile-menu a {
    padding: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
}
.god {
    display: flex;
    flex-direction: row;
}
.subtitulo {
    font-size: 60px;
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
}
.menu-section {
    display: flex;
}

.left-sidebar {
    width: 230px;
    padding: 15px;
}
.menu-item {
    background-color: #1a73e8;
    padding: 10px 15px;
    margin-bottom: 10px;
    color: #fff;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.menu-item:hover {
    background-color: #5393ff;
}

.menu-item-destacado {
    background-color: #000000;
    padding: 10px 15px;
    margin-bottom: 10px;
    color: #fff;
    font-weight: 500;
    border-radius: 8px;
    color: #ffff00;
    font-weight: bold;
}

.menu-item-destacado::before {
    content: "★";
    margin-right: 5px;
}
#der {
    width: 80%;
    padding: 10px;
    display: flex;
    color: black;
    border: 0px solid #fff;
    border-radius: 10px;
    height: 550px

}
.list  {
    font-size: 30px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}

.carrito {
    width: 60px;
    height: 60px;
    color: #fff;
    text-align: end;
}

.carrito-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.product {
    width: 200px;
    height: fit-content;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    text-align: center;
    color: #fff;
}

.product img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    
}

.product h3 {
    font-size: 16px;
    margin: 10px 0;
    color: #fff;
}

.product select {
    margin: 10px 0;
    padding: 5px;
}

.product p {
    margin: 5px 0;
}

.product button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.product button:hover {
    background-color: #218838;
}

.button-list {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#filtrar {
    font-size: medium;
}

#bienvenidos-merch {
    font-size: 20px;
    color: #66dd20;
    margin: 0;
    padding: 0;
    text-align: center;   
}

.precio {
    text-align: center; 
    margin-bottom: 20px; 
    font-weight: 700; 
    font-size: 15px;
}

#estrellas {
    text-align: left;
}

.a {
    color: #fff;
    text-decoration: none;
}

.a:hover {
    color: #516deb;
}

.a:visited {
    color: #cccccc;
}

.select {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #28a745;
    margin-bottom: 10px;
    background-color: #28a745;
    color: #fff;
}